@use "../../utitlities/themeColors";
@import "../../utitlities/functions";

.hero {
  width: 100%;
  display: flex;
  margin-bottom: pix-rem(100);

  .page__info {
    margin-right: auto;
    .title {
      text-transform: capitalize;
      font-size: clamp(pix-rem(100), 16vw, pix-rem(300));
      letter-spacing: -0.2em;
      white-space: pre;
      font-weight: bold;
    }

    .subtitle {
      font-size: pix-rem(80);
      letter-spacing: -0.05em;
      color: themeColors.$subtitle_color;
      font-weight: 900;
      line-height: pix-rem(92);
    }
  }

  .carousel__container {
    border-left: 1px solid themeColors.$default_foreground;
    padding-left: pix-rem(62);
    display: flex;
    align-items: center;
  }
}
