@use "../../utitlities/themeColors";
@import "../../utitlities/functions";

.item {
  width: pix-rem(166);
  height: pix-rem(156);
  font-size: 8px;
  cursor: pointer;
  position: relative;

  
  &:hover {
    width: pix-rem(400);
    height: pix-rem(360);
  }
}

.cover {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.item > .onHoverDet {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}