@use "../../utitlities/themeColors";
@import "../../utitlities/functions";

$tablets: 768;

.container {
  width: 100%;
  border-top: pix-rem(1) solid themeColors.$default_foreground;
  border-bottom-color: themeColors.$default_foreground;
  border-bottom-style: solid;
  border-bottom-width: 0;
  transition: border 0.2s;
  display: flex;
  position: relative;
  cursor: pointer;

  .panel__check {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &:hover {
    border-color: themeColors.$primary_color;

    .divider {
      border-color: themeColors.$primary_color;
    }

    & + .container {
      border-color: themeColors.$primary_color;
    }

    .text__content {
      width: 70%;
      border-color: themeColors.$primary_color;
      color: themeColors.$primary_color;

      @include mediaQueryMax(#{$tablets}px) {
        width: 60%;
        padding: pix-rem(10);
      }

      .image__container {
        opacity: 0.7;
        img {
          filter: saturate(0) blur(0px);
        }
      }
    }

    .small {
      .subtitle {
        color: themeColors.$primary_color;
        opacity: 0.8;
      }
    }

    .panel__action__detail {
      width: 30%;
      opacity: 1;
      color: themeColors.$primary_color;

      @include mediaQueryMax(#{$tablets}px) {
        width: 40%;
      }

      .arrow__container {
        img {
          filter: saturate(1);
        }
      }
    }
  }

  .text__content {
    position: relative;
    width: 90%;
    font-size: clamp(pix-rem(70), 5vw, pix-rem(130));
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.11em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: width 0.8s, color 0.2s, padding 0.5s;
    padding: pix-rem(50);
    text-transform: uppercase;
    color: themeColors.$default_foreground;
    overflow: hidden;

    @include mediaQueryMin(1200px) {
      font-size: clamp(pix-rem(20), 6vw, pix-rem(130));
    }

    @include mediaQueryMax(#{$tablets}px) {
      font-size: clamp(pix-rem(40), 8vw, pix-rem(130));
      width: 60%;
      padding: pix-rem(10);
    }

    .image__container {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 200px;
      opacity: 0;
      transition: opacity 0.4s, left 0s;

      @include mediaQueryMax(#{$tablets}px) {
        opacity: 0.4;
      }

      img {
        transform: translateX(-50%);
        object-fit: cover;
        height: 100%;
        width: 100%;
        filter: saturate(0) blur(5px);
        transition: filter 0.2s;

        @include mediaQueryMax(#{$tablets}px) {
          transform: translateX(0);
          filter: saturate(0) blur(0px);
        }
      }

      &.flipped {
        right: 0;
        left: unset;
      }
    }
  }

  .small {
    .title {
      font-size: 0.9em;
    }
    .subtitle {
      font-size: 0.4em;
      letter-spacing: -0.03em;
      color: themeColors.$subtitle_color;
    }
  }

  .song__info {
    @include mediaQueryMax(768px) {
      width: 60%;
    }
    .title {
      font-size: 0.8em;
    }
    .subtitle {
      font-size: 0.3em;
      letter-spacing: -0.03em;
      color: themeColors.$subtitle_color;
    }
  }

  .divider {
    width: 1px;
    border-right: pix-rem(0.5) solid themeColors.$default_foreground;
  }

  .panel__action__detail {
    opacity: 0;
    transition: width 0.8s, opacity 1s cubic-bezier(0.74, -0.29, 0.94, 0.5),
      color 0.2s;
    width: 10%;
    overflow: hidden;
    padding: pix-rem(10);
    display: flex;
    align-items: center;
    font-size: clamp(pix-rem(10), 5vw, pix-rem(15));
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;

    @include mediaQueryMax(#{$tablets}px) {
      font-size: pix-rem(10);
      opacity: 1;
      width: 40%;
    }

    .arrow__container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: contain;
        width: 30%;
        height: 30%;
        filter: saturate(0);
        transition: filter 0.2s cubic-bezier(0.74, -0.29, 0.94, 0.5);

        @include mediaQueryMax(#{$tablets}px) {
          filter: saturate(1);
        }
      }

      .image__flipped {
        transform: scaleX(-1);
      }
    }

    .custom__icon {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .song__action__detail {
    @include mediaQueryMax(768px) {
      width: 40%;
      opacity: 1;
    }
  }
}

.last__panel {
  border-bottom-width: pix-rem(1);
}

.flipped {
  flex-direction: row-reverse;
}

:export {
  tabletScreenSize: $tablets;
}
