@use "../../utitlities/themeColors";
@import "../../utitlities/functions";

.feed {
    .page__info {
        margin-right: auto;
        margin-bottom: pix-rem(75);

        .title {
            text-transform: capitalize;
            font-size: clamp(pix-rem(100), 16vw, pix-rem(300));
            letter-spacing: -0.155em;
            white-space: pre;
            font-weight: bold;
            @include mediaQueryMax(768px) {
                    font-size: clamp(pix-rem(100), 40vw, pix-rem(300));
                }
        }

        .subtitle {
            font-size: pix-rem(80);
            letter-spacing: -0.05em;
            color: themeColors.$subtitle_color;
            font-weight: 900;
            line-height: pix-rem(92);
            width: 80%;

                @include mediaQueryMax(768px) {
                        font-size: pix-rem(40);
                        line-height: pix-rem(60);
                    }
        }
    }
}