@use "../../../utitlities/themeColors";
@import "../../../utitlities/functions";

.container {
  background-color: themeColors.$card_background;
  padding: pix-rem(20);
  border-radius: pix-rem(16);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: pix-rem(24);
  cursor: pointer;
  transition: scale 0.1s;

  &:hover {
    scale: 1.05;
  }

  .image__container {
    width: pix-rem(230);
    height: pix-rem(230);
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: pix-rem(8);

    img {
      object-fit: contain;
      width: 100%;
    }
  }

  .info {
    text-align: left;
    padding: pix-rem(4) pix-rem(10);
    width: 100%;
    max-width: pix-rem(230);
    background-color: themeColors.$default_foreground;
    box-shadow: 0 pix-rem(4) pix-rem(4) rgba(0, 0, 0, 0.25);
    border-radius: pix-rem(8);

    .title {
      color: #d3d3d3;
      font-size: pix-rem(32);
      font-weight: 900;
      margin-bottom: pix-rem(4);
      word-break: break-all;
    }

    .artist {
      color: themeColors.$default_background;
      font-size: pix-rem(16);
      font-weight: 900;
      margin-bottom: pix-rem(4);
    }

    .features {
      color: themeColors.$default_background;
      font-weight: 900;
      font-size: pix-rem(16);
      margin-bottom: pix-rem(16);
      width: pix-rem(200);

      &::before {
        content: "feat. ";
      }
    }
  }
}
